aTag a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -4px 0 #f82672;
    transition-property: box-shadow;
    transition-duration: 0.1s;
}
aTag a:hover {
    box-shadow: inset 0 -1em 0 #f82672;
}
